<html>
<head>
<title>Live Crypto Price App</title>
<style>
*{font-size:40px;}
body{background-color:linen;}
h2{width:60%;border:groove;border-radius:40px;}
</style>
</head>
<center>
<h1>Live Crypto Rate App</h1>
<form>
<input type="radio" name="coin" value="BTC" checked=true/>BTC
<input type="radio" name="coin" value="ETH"/>ETH
<input type="radio" name="coin" value="DOGE"/>DOGE
<be/><br/>
<input type="submit" vlaue="Find Live Rate"/>
</form>
<h2 id="msg">{{msg}}</h2>
</center>
</body>
</html>

